USE [master]
GO
/****** Object:  Database [NhztGDB]    Script Date: 09/29/2019 17:17:09 ******/
CREATE DATABASE [NhztGDB] ON  PRIMARY 
( NAME = N'NhztGDB', FILENAME = N'D:\gitproj\gis2sql\gdb\NhztGDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NhztGDB_log', FILENAME = N'D:\gitproj\gis2sql\gdb\NhztGDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NhztGDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NhztGDB]
GO
/****** Object:  Schema [S-T]    Script Date: 09/29/2019 17:17:09 ******/
CREATE SCHEMA [S-T] AUTHORIZATION [dbo]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 09/29/2019 17:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Course](
	[Cno] [char](4) NOT NULL,
	[Cname] [char](40) NULL,
	[Cpno] [char](4) NULL,
	[Ccredit] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student]    Script Date: 09/29/2019 17:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[Sno] [char](9) NOT NULL,
	[Sname] [char](20) NULL,
	[Ssex] [char](2) NULL,
	[Sage] [smallint] NULL,
	[Sdept] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Sno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Sname] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SC]    Script Date: 09/29/2019 17:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SC](
	[Sno] [char](9) NOT NULL,
	[Cno] [char](4) NOT NULL,
	[Grade] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Sno] ASC,
	[Cno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK__Course__Cpno__08EA5793]    Script Date: 09/29/2019 17:17:10 ******/
ALTER TABLE [dbo].[Course]  WITH CHECK ADD FOREIGN KEY([Cpno])
REFERENCES [dbo].[Course] ([Cno])
GO
/****** Object:  ForeignKey [FK__SC__Cno__0EA330E9]    Script Date: 09/29/2019 17:17:10 ******/
ALTER TABLE [dbo].[SC]  WITH CHECK ADD FOREIGN KEY([Cno])
REFERENCES [dbo].[Course] ([Cno])
GO
/****** Object:  ForeignKey [FK__SC__Sno__0DAF0CB0]    Script Date: 09/29/2019 17:17:10 ******/
ALTER TABLE [dbo].[SC]  WITH CHECK ADD FOREIGN KEY([Sno])
REFERENCES [dbo].[Student] ([Sno])
GO
