<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SQLConnString" value="Data Source=.;Initial Catalog=SQLIM;Integrated Security=True"/>
    <add key="SQLConnString_Net" value="Data Source=.;Database=SQLIM;User ID=sa;Password=123456"/>
  </appSettings>
</configuration>